[submodule "pico-cpp/pimoroni-pico"]
	path = pico-cpp/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
	branch = main
[submodule "pico-cpp/RGBMatrixAnimations"]
	path = pico-cpp/RGBMatrixAnimations
	url = https://github.com/Footleg/RGBMatrixAnimations.git
[submodule "pico-cpp/presto"]
	path = pico-cpp/presto
	url = https://github.com/pimoroni/presto.git
